#content .form-item-rt-country{
	display:inline-block;
	margin-right:30px;
}

#content .form-item-rt-city{
	display:inline-block;
	margin-right:30px;
}

#content .form-item-rt-address{
	display:inline-block;
	margin-right:30px;
}

#content .form-item-rt-zipcode{
	display:inline-block;
	margin-right:30px;
}


#content .form-item-rt-email{
	display:inline-block;
	margin-right:30px;
}

#content .form-item-rt-site{
	display:inline-block;
	margin-right:30px;
}

#content .form-item-rt-phone{
	display:inline-block;
	margin-right:30px;
}


/*accomodations*/

#content .form-item-rt-ente-num-rooms{
	display:inline-block;
	margin-right:30px;
}

#content .form-item-rt-ente-lower-price{
	display:inline-block;
	margin-right:30px;
}

#content .form-item-rt-ente-higher-price{
	display:inline-block;
	margin-right:30px;
}

/*enterteniaments*/

#content .form-item-rt-ente-schedule{
	display:inline-block;
	margin-right:30px;
}

#content .form-item-rt-ente-price{
	display:inline-block;
	margin-right:30px;
}

/*restaurants*/

#content .form-item-rt-rest-specialities{
	display:inline-block;
	margin-right:30px;
}

#content .form-item-rt-rest-avg-meal-price{
	display:inline-block;
	margin-right:30px;
}

/*hidden values*/

#content .form-item-rt-location-x{
	display:none;
}

#content .form-item-rt-location-y{
	display:none;
}


#content .form-item-rt-full-address{
	display:none;
}



#content .form-item-rt-entex-num-rooms{
	display:none;
}
#content .form-item-rt-entex-lower-price{
	display:none;
}
#content .form-item-rt-entex-higher-price{
	display:none;
}


#content .form-item-rt-entexx-schedule{
	display:none;
}
#content .form-item-rt-entexx-price{
	display:none;
}


#content .form-item-rt-healtx-schedule{
	display:none;
}


#content .form-item-rt-restx-specialities{
	display:none;
}
#content .form-item-rt-restx-avg-meal-price{
	display:none;
}

#content{
	width:860px;
	margin-left: auto;
    margin-right: auto;
}
